@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(message: String) (implicit request: RequestHeader)

    @*
    * Call the `main` template with two arguments. The first
    * argument is a `String` with the title of the page, the second
    * argument is an `Html` object containing the body of the page.
    *@
    @main(message) {
        <div id="tweets"></div>
        <script type="text/javascript">
                var url = "@routes.Application.tweets().webSocketURL()";
                var tweetSocket = new WebSocket(url);

                tweetSocket.onmessage = function (event) {
                    console.log(event);
                    var data = JSON.parse(event.data);
                    var tweet = document.createElement("p");
                    var text = document.createTextNode(data.text);
                    tweet.appendChild(text);
                    document.getElementById("tweets").appendChild(tweet);
                };
                tweetSocket.onopen = function() {
                    tweetSocket.send("subscribe");
                };
        </script>
    }
